<!DOCTYPE html>
<html>
  <head>
    <title>Title Here</title>
  </head>
  
  <body>
<<<<<<< HEAD
    <h1> Buster's Best Bowling Alley</h1>
    <h2> Bet You Can't Bowl A Strike Every Time</h2>
    <p> 97 Bowling Alley Lane, Boulder CO </p>
=======
    <h1>Generic Header Here</h1>
>>>>>>> af63c2c39df2cc44accbd6bab581e2d91711e713
  </body>
</html>